.header {
  background-color: black;
  display: flex;
  padding: 0.8em 1em;
  height: 4rem;
  color: white;
}

.logo {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-right: 1em;
}

.input {
  flex-basis: 100%;
  font-size: 1.2rem;
  outline: 0;
}

.button {
  cursor: pointer;
  background-color: darkgray;
  border: 1px solid black;
  width: 3.5em;
  outline: 0;
}

.button:hover {
  background-color: rgb(136, 134, 134);
}

.buttonImg {
  height: 100%;
  padding: 0.5em 0.2em;
}
